.header {
    display: flex;
    align-items: center;
    background: #333;
    height: 80px;
    color: #fff;
}

input {
    margin-left: 5%;
    padding: 5px;
    border-radius: 10px;
    width: 25%;
}

img {
    margin: 5px;
}